{% extends "::VueMere.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block body %}

<!-- Content-->
<div class="container">
    <div>
        <ol class="breadcrumb">
            {% if category.category %}
            <li class="breadcrumb-item"><a href="{{ path('smart_cart_category_product', {'categoryId': category.category.id}) }}">{{ category.category.name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item"><a href="{{ path('smart_cart_category_product', {'categoryId': category.id}) }}">{{ category.name }}</a></li>
        </ol>
    </div>
</div>


<div class="container">
    <div class="divresult">
        <h3 class="justinline"> {{ category.name }}</h3> <p class="inlineblock">{{ category.carts|length }} paniers</p>
        <!--
        <div class="inlineblock droite">
            <p class="trierpar inlineblock"> Trier par :</p>
            <select class="inlineblock" name="choix">
                <option value="croissant">Prix croissant</option>
                <option value="decroissant">Prix décroissant</option>
                <option value="mieuxnote"> Les mieux notés </option>
                <option value="nbarticles"> Nombres d'articles </option>
            </select>
        </div>-->
    </div>
</div>

<div class="container">
    <div class="inlineblock" style="width:100%;">
        {% set i = 0 %}
        {% for cart in category.carts %}
        {% if i % 4 == 0 and i > 0 %}
    </div>
    <hr class="separation">
    <div class="inlineblock" style="width:100%;">
        {% endif %}
        <div class="col-md-3 col-sm-12 inlineblock mrgnbas">
            <a href="{{ path('smart_cart_product', {'cartId': cart.id}) }}"><img class="img-responsive" src="{{ cart.image }}"></a>
            <p class="nomarginB">{{ cart.name }}</p>
            <p class="level">{{ cart.level|slice(0, 1)|upper }}{{ cart.level|slice(1, cart.level|length) }}</p>
            <div class="justinline">
                <div class="name-kit stars ">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p class="inlineblock">({{ cart.reviews|length }})</p>
            </div>
            <p class="prix">{{ cart.price }}€</p>

            <a href="{{ path('smart_cart_product', {'cartId': cart.id}) }}">
                <input type="button" name="add" class="btn-addCart btn-result" value="Acheter maintenant">
            </a>
        </div>

        {% set i = i + 1 %}
        {% endfor %}
    </div>

    <hr class="separation">

    <!--
    <nav aria-label="Navigation">
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
-->
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

$(document).ready(function() {
    var max = 10; //quantity max
    var min = 1; //quantity min
    var x = 1; //initial text box count
    $("input[name='more']").click(function(){
        if(x < max){
            x++; //text box increment
            $("#quantity").val(x); //add input box
        }
    });
    $("input[name='less']").click(function(){
        if(x >  min){
            x--; //text box increment
            $("#quantity").val(x); //add input box
        }
    });
});
</script>
{% endblock %}
